:root {
    --loading-grey: #ededed;
}

.skeleton-card {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
}

.skeleton-image {
    border-radius: 12px;
    width: 300px;
    height: 230px;
}

.skeleton-h4 {
    line-height: 1.5rem;
    border-radius: 4px;
}

.skeleton-name {
    width: 50%;
}

.skeleton-price {
    width: 35%;
}

.skeleton-color-container {
    display: flex;
    gap: 8px;
}

.skeleton-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0;
}

.skeleton-color-name {
    width: 20%;
}

.skeleton-star {
    width: 45%;
}

.skeleton-description {
    font-size: 1rem;
    line-height: 1.4rem;
}

.skeleton-loading .skeleton-image,
.skeleton-loading .skeleton-h4,
.skeleton-loading .skeleton-description {
    background-color: var(--loading-grey);
    background: linear-gradient(100deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, .5) 50%,
            rgba(255, 255, 255, 0) 60%) var(--loading-grey);
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s skeleton-loading-animation ease-in-out infinite;
}

@keyframes skeleton-loading-animation {
    to {
        background-position-x: -20%;
    }
}

.skeleton-loading .skeleton-h4 {
    min-height: 1.2rem;
    animation-delay: .05s;
}

.skeleton-loading .skeleton-description {
    min-height: 4rem;
    border-radius: 4px;
    animation-delay: .06s;
}