@font-face {
  font-family: 'Avenir-Book';
  src: local('Avenir-Book'), url('../public/assets/fonts/avenir/Avenir-Book.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'), url('../public/assets/fonts/montserat/Montserrat-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: local('Montserrat-Medium'), url('../public/assets/fonts/montserat/Montserrat-Medium.otf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}